/*------SECCIONES----------*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
  display: inline-block;
}

/* .borde {
    border: blue 1px solid;
} */
/*--------------------------BODY INDEX---------------------BODY INDEX------------------BODY INDEX----- */
#bodyIndex {
  background-color: #A9B7C7;
  border: #0C101D 15px solid;
  min-height: 100vh;
}

/*--------------------------BODY INTEGRANTES---------------------BODY INTEGRANTES------------------BODY INTEGRANTES----- */
#bodyIntegrantes {
  background-color: black;
  border: #0C101D 15px solid;
  min-height: 100vh;
}

/*--------------------------BODY TIME LINE---------------------BODY TIME LINE------------------BODY TIME LINE----- */
#bodyTime {
  background-color: black;
  border: #0C101D 15px solid;
  min-height: 100vh;
}

/*--------------------------BODY DISCOGRAFIA---------------------BODY DISCOGRAFIA------------------BODY DISCOGRAFIA----- */
#bodyImagenes {
  background-color: black;
  border: #0C101D 15px solid;
  min-height: 100vh;
}

/* ----------------------------BODY CONTACTO-------------------BODY CONTACTO----------------------BODY CONTACTO */
#bodyContacto {
  background-color: black;
  border: #0C101D 15px solid;
  min-height: 100vh;
}

/* ----------------HEADER--------------------HEADER-------------HEADER--------------HEADER----------------- */
#navbarNav {
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  justify-content: space-around;
}
#navbarNav ul {
  column-gap: 30px;
}
#navbarNav a {
  color: black;
  font-weight: 400;
  font-size: 20px;
}
#navbarNav .nav-item a:hover {
  text-decoration: underline;
  background-color: white;
  border-radius: 2%;
}

.navbar {
  background-color: #0081ff !important;
}
.navbar #divImg img {
  height: 80px;
  width: auto;
}

/* ----------------SECTION CONTACTO--------------------SECTION CONTACTO---------------------SECTION CONTACTO------------ */
#sectionCon {
  grid-area: sectionCon;
  display: grid;
  justify-content: space-around;
  width: auto;
  height: 95px;
  border: red 5px solid;
  background-color: black;
}
#sectionCon img {
  width: 53%;
  height: 53%;
  object-fit: contain;
  justify-self: center;
  align-items: center;
}

/* ----------------MAIN INDEX--------------------MAIN INDEX---------------------MAIN INDEX--------------MAIN INDEX----------------- */
#mainIndex {
  display: flex;
  justify-self: center;
}

/* ----------------MAIN INTEGRANTES--------------------MAIN INTEGRANTES---------------------MAIN INTEGRANTES------------ */
#integrantes {
  background-color: #E0E0E0;
  padding: 10px;
}
#integrantes .accordion-button {
  background-color: #19A6B3;
  color: #000000;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}
#integrantes .card-body {
  border-radius: 2px;
  background-color: #041F3A;
}

/* ------MAIN TIME LINE--------------MAIN TIME LINE-------------MAIN TIME LINE-------MAIN TIME LINE-------------------- */
#timeLine {
  background-color: whitesmoke;
}
#timeLine #ladoA {
  padding: 15px;
  background-color: #B5CFC3;
  border-radius: 5px;
}
#timeLine #ladoA p {
  text-align: justify;
}
#timeLine #ladoB {
  padding: 15px;
  background-color: whitesmoke;
  border-radius: 5px;
}
#timeLine #ladoB p {
  text-align: justify;
}
#timeLine #navbar-example2 {
  background-color: #076873 !important;
}
#timeLine #navbar-example2 i {
  color: white;
}
#timeLine #navbar-example2 .navbar-brand {
  color: white;
}
#timeLine #navbar-example2 .nav-link {
  color: white;
}
#timeLine .scrollspy-example {
  background-color: #B5CFC3 !important;
  display: flex;
  justify-content: space-around;
}
#timeLine .scrollspy-example p {
  text-align: justify;
}

/* ----------------MAIN-DISCOGRAFIA--------------------MAIN-DISCOGRAFIA-------------MAIN-DISCOGRAFIA----------------- */
#mainCard {
  background-color: black;
}
#mainCard .card-body {
  background-color: #041F3A;
  color: aliceblue;
  text-align: justify;
  /* border: black 1px solid; */
}
#mainCard #iconsB {
  display: flex;
  justify-content: space-around;
  background-color: #E9EDDE;
  border-radius: 3%;
}
#mainCard .bi-spotify {
  color: #1DB954;
  font-size: 40px;
}
#mainCard .bi-youtube {
  color: #ff0000;
  font-size: 40px;
}
#mainCard .bi-apple {
  color: #000000;
  font-size: 40px;
}

/* ----------------MAIN CONTACTO--------------------MAIN CONTACTO---------------------MAIN CONTACTO------------ */
#form {
  background-color: #13287F;
}

#datos {
  background-color: aliceblue;
}

/* #mainIndex { */
/* background-image: url(https://cdn.wegow.com/media/artist-media/soda-stereo/soda-stereo-1688979901-1688979901.7064676.-1x2560.jpg); */
/* background-image: url(https://www.lifeboxset.com/wp-content/uploads/2019/10/20191003_165457200984-image5d961dea1b450.jpg); */
/* background-image: url(https://fmrockandpop.com/media/k2/items/cache/97b69b9f7e1a5c5d4d0fd3d24f506fa4_L.webp?t=20210430_145622); */
/* min-height: 100vh; */
/* background-repeat: no-repeat; */
/* background-position: center center; */
/* height: 600px; */
/* background-size:cover; */
/* background-attachment:local; */
/* } */
/* ----------------FOOTER---------------------FOOTER--------------FOOTER---------------FOOOTER----------------- */
#footer.navbar {
  background-color: grey !important;
  display: flex;
  justify-content: space-around;
  font-family: "Roboto", serif;
  align-items: center;
}
#footer.navbar ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
}
#footer.navbar li a {
  color: black;
}
#footer.navbar #footerRedes {
  display: flex;
  column-gap: 10px;
}
#footer.navbar article h5 {
  display: flex;
  justify-content: space-around;
  font-size: 15px;
}
#footer.navbar i {
  font-size: 35px;
  color: blue;
}

/* From Uiverse.io by Smit-Prajapati */
.card {
  position: relative;
  width: 200px;
  height: 200px;
  background: lightgrey;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: all 1s ease-in-out;
}

.background {
  position: absolute;
  inset: 0;
  background: radial-gradient(circle at 100% 107%, #ff89cc 0%, #9cb8ec 30%, #00ffee 60%, #62c2fe 100%);
}

.logo {
  position: absolute;
  right: 50%;
  bottom: 50%;
  transform: translate(50%, 50%);
  transition: all 0.6s ease-in-out;
}

.logo .logo-svg {
  fill: white;
  width: 30px;
  height: 30px;
}

.icon {
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icon .svg {
  fill: rgba(255, 255, 255, 0.797);
  width: 100%;
  transition: all 0.5s ease-in-out;
}

.box {
  position: absolute;
  padding: 10px;
  text-align: right;
  background: rgba(255, 255, 255, 0.389);
  border-top: 2px solid rgb(255, 255, 255);
  border-right: 1px solid white;
  border-radius: 10% 13% 42% 0%/10% 12% 75% 0%;
  box-shadow: rgba(100, 100, 111, 0.364) -7px 7px 29px 0px;
  transform-origin: bottom left;
  transition: all 1s ease-in-out;
}

.box::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.box:hover .svg {
  fill: white;
}

.box1 {
  width: 70%;
  height: 70%;
  bottom: -70%;
  left: -70%;
}

.box1::before {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #ff53d4 60%, #62c2fe 90%);
}

.box1:hover::before {
  opacity: 1;
}

.box1:hover .icon .svg {
  filter: drop-shadow(0 0 5px white);
}

.box2 {
  width: 50%;
  height: 50%;
  bottom: -50%;
  left: -50%;
  transition-delay: 0.2s;
}

.box2::before {
  background: radial-gradient(circle at 30% 107%, #91e9ff 0%, #00ACEE 90%);
}

.box2:hover::before {
  opacity: 1;
}

.box2:hover .icon .svg {
  filter: drop-shadow(0 0 5px white);
}

.box3 {
  width: 30%;
  height: 30%;
  bottom: -30%;
  left: -30%;
  transition-delay: 0.4s;
}

.box3::before {
  background: radial-gradient(circle at 30% 107%, #969fff 0%, #b349ff 90%);
}

.box3:hover::before {
  opacity: 1;
}

.box3:hover .icon .svg {
  filter: drop-shadow(0 0 5px white);
}

.box4 {
  width: 10%;
  height: 10%;
  bottom: -10%;
  left: -10%;
  transition-delay: 0.6s;
}

.card:hover {
  transform: scale(1.1);
}

.card:hover .box {
  bottom: -1px;
  left: -1px;
}

.card:hover .logo {
  transform: translate(0, 0);
  bottom: 20px;
  right: 20px;
}

/*----------PAGES---------*/

/*# sourceMappingURL=styles.css.map */
