/*------SECCIONES----------*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
  display: inline-block;
}

/* .borde {
    border: blue 1px solid;
} */
/*--------------------------BODY INDEX---------------------BODY INDEX------------------BODY INDEX----- */
#bodyIndex {
  background-color: #A9B7C7;
  border: #0C101D 15px solid;
  min-height: 100vh;
}

/*--------------------------BODY INTEGRANTES---------------------BODY INTEGRANTES------------------BODY INTEGRANTES----- */
#bodyIntegrantes {
  background-color: black;
  border: #0C101D 15px solid;
  min-height: 100vh;
}

/*--------------------------BODY TIME LINE---------------------BODY TIME LINE------------------BODY TIME LINE----- */
#bodyTime {
  background-color: black;
  border: #0C101D 15px solid;
  min-height: 100vh;
}

/*--------------------------BODY DISCOGRAFIA---------------------BODY DISCOGRAFIA------------------BODY DISCOGRAFIA----- */
#bodyDiscografia {
  background-color: black;
  border: #0C101D 15px solid;
  min-height: 100vh;
}

#bodyImagenes {
  background-color: black;
  border: #0C101D 15px solid;
  min-height: 100vh;
}

/* ----------------------------BODY CONTACTO-------------------BODY CONTACTO----------------------BODY CONTACTO */
#bodyContacto {
  background-color: black;
  border: #0C101D 15px solid;
  min-height: 100vh;
}

/* ----------------HEADER--------------------HEADER-------------HEADER--------------HEADER----------------- */
#navbarNav {
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  justify-content: space-around;
}
#navbarNav ul {
  column-gap: 30px;
}
#navbarNav a {
  color: black;
  font-weight: 400;
  font-size: 20px;
}
#navbarNav .nav-item a:hover {
  text-decoration: underline;
  background-color: white;
  border-radius: 2%;
}

.navbar {
  background-color: #0081ff !important;
}
.navbar #divImg img {
  height: 80px;
  width: auto;
}

/* ----------------SECTION CONTACTO--------------------SECTION CONTACTO---------------------SECTION CONTACTO------------ */
#sectionCon {
  grid-area: sectionCon;
  display: grid;
  justify-content: space-around;
  width: auto;
  height: 95px;
  border: red 5px solid;
  background-color: black;
}
#sectionCon img {
  width: 53%;
  height: 53%;
  object-fit: contain;
  justify-self: center;
  align-items: center;
}

/* ----------------MAIN INDEX--------------------MAIN INDEX---------------------MAIN INDEX--------------MAIN INDEX----------------- */
#mainIndex {
  display: flex;
  justify-self: center;
}

/* ----------------MAIN INTEGRANTES--------------------MAIN INTEGRANTES---------------------MAIN INTEGRANTES------------ */
#integrantes {
  background-color: #E0E0E0;
  padding: 10px;
}
#integrantes .accordion-button {
  background-color: #19A6B3;
  color: #000000;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}
#integrantes .card-body {
  border-radius: 2px;
  background-color: #041F3A;
}

/* ------MAIN TIME LINE--------------MAIN TIME LINE-------------MAIN TIME LINE-------MAIN TIME LINE-------------------- */
#timeLine {
  background-color: whitesmoke;
}
#timeLine #ladoA {
  padding: 15px;
  background-color: #B5CFC3;
  border-radius: 5px;
}
#timeLine #ladoA p {
  text-align: justify;
}
#timeLine #ladoB {
  padding: 15px;
  background-color: whitesmoke;
  border-radius: 5px;
}
#timeLine #ladoB p {
  text-align: justify;
}
#timeLine #navbar-example2 {
  background-color: #076873 !important;
}
#timeLine #navbar-example2 i {
  color: white;
}
#timeLine #navbar-example2 .navbar-brand {
  color: white;
}
#timeLine #navbar-example2 .nav-link {
  color: white;
}
#timeLine .scrollspy-example {
  background-color: #B5CFC3 !important;
  display: flex;
  justify-content: space-around;
}
#timeLine .scrollspy-example p {
  text-align: justify;
}

/* ----------------MAIN-DISCOGRAFIA--------------------MAIN-DISCOGRAFIA-------------MAIN-DISCOGRAFIA----------------- */
#mainCard {
  background-color: black;
}
#mainCard .card-body {
  background-color: #041F3A;
  color: aliceblue;
  text-align: justify;
  /* border: black 1px solid; */
}
#mainCard #iconsB {
  display: flex;
  justify-content: space-around;
  background-color: #E9EDDE;
  border-radius: 3%;
}
#mainCard .bi-spotify {
  color: #1DB954;
  font-size: 40px;
}
#mainCard .bi-youtube {
  color: #ff0000;
  font-size: 40px;
}
#mainCard .bi-apple {
  color: #000000;
  font-size: 40px;
}

/* ----------------MAIN-DISCOGRAFIA22222222--------------------MAIN-DISCOGRAFIA-------------MAIN-DISCOGRAFIA----------------- */
#mainCard {
  background-color: black;
}
#mainCard .card-body {
  background-color: #041F3A;
  color: aliceblue;
  text-align: justify;
  /* border: black 1px solid; */
}
#mainCard #iconsB {
  display: flex;
  justify-content: space-around;
  background-color: #E9EDDE;
  border-radius: 3%;
}
#mainCard .bi-spotify {
  color: #1DB954;
  font-size: 40px;
}
#mainCard .bi-youtube {
  color: #ff0000;
  font-size: 40px;
}
#mainCard .bi-apple {
  color: #000000;
  font-size: 40px;
}

/* ----------------MAIN CONTACTO--------------------MAIN CONTACTO---------------------MAIN CONTACTO------------ */
#form {
  background-color: #13287F;
}

#datos {
  background-color: aliceblue;
}

/* #mainIndex { */
/* background-image: url(https://cdn.wegow.com/media/artist-media/soda-stereo/soda-stereo-1688979901-1688979901.7064676.-1x2560.jpg); */
/* background-image: url(https://www.lifeboxset.com/wp-content/uploads/2019/10/20191003_165457200984-image5d961dea1b450.jpg); */
/* background-image: url(https://fmrockandpop.com/media/k2/items/cache/97b69b9f7e1a5c5d4d0fd3d24f506fa4_L.webp?t=20210430_145622); */
/* min-height: 100vh; */
/* background-repeat: no-repeat; */
/* background-position: center center; */
/* height: 600px; */
/* background-size:cover; */
/* background-attachment:local; */
/* } */
/* ----------------FOOTER---------------------FOOTER--------------FOOTER---------------FOOOTER----------------- */
#footer.navbar {
  background-color: grey !important;
  display: flex;
  justify-content: space-around;
  font-family: "Roboto", serif;
  align-items: center;
}
#footer.navbar ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
}
#footer.navbar li a {
  color: black;
}
#footer.navbar #footerRedes {
  display: flex;
  column-gap: 10px;
}
#footer.navbar article h5 {
  display: flex;
  justify-content: space-around;
  font-size: 15px;
}
#footer.navbar i {
  font-size: 35px;
  color: blue;
}

/* From Uiverse.io by adamgiebl */
.cardRedes {
  width: 230px;
  border-radius: 20px;
  background: #1b233d;
  padding: 5px;
  overflow: hidden;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 20px 0px;
  transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.cardRedes:hover {
  transform: scale(1.05);
}

.cardRedes .top-section {
  height: 150px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(45deg, rgb(4, 159, 187) 0%, rgb(80, 246, 255) 100%);
  position: relative;
}

.cardRedes .top-section .border {
  border-bottom-right-radius: 10px;
  height: 30px;
  width: 130px;
  background: white;
  background: #1b233d;
  position: relative;
  transform: skew(-40deg);
  box-shadow: -10px -10px 0 0 #1b233d;
}

.cardRedes .top-section .border::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  top: 0;
  right: -15px;
  background: rgba(255, 255, 255, 0);
  border-top-left-radius: 10px;
  box-shadow: -5px -5px 0 2px #1b233d;
}

.cardRedes .top-section::before {
  content: "";
  position: absolute;
  top: 30px;
  left: 0;
  background: rgba(255, 255, 255, 0);
  height: 15px;
  width: 15px;
  border-top-left-radius: 15px;
  box-shadow: -5px -5px 0 2px #1b233d;
}

.cardRedes .top-section .icons {
  position: absolute;
  top: 0;
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
}

.cardRedes .top-section .icons .logo {
  height: 100%;
  aspect-ratio: 1;
  padding: 7px 0 7px 15px;
}

.cardRedes .top-section .icons .logo .top-section {
  height: 100%;
}

.cardRedes .top-section .icons .social-media {
  height: 100%;
  padding: 8px 15px;
  display: flex;
  gap: 7px;
}

.cardRedes .top-section .icons .social-media .svg {
  height: 100%;
  fill: #1b233d;
}

.cardRedes .top-section .icons .social-media .svg:hover {
  fill: white;
}

.cardRedes .bottom-section {
  margin-top: 15px;
  padding: 10px 5px;
}

.cardRedes .bottom-section .title {
  display: block;
  font-size: 17px;
  font-weight: bolder;
  color: white;
  text-align: center;
  letter-spacing: 2px;
}

.cardRedes .bottom-section .row {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.cardRedes .bottom-section .row .item {
  flex: 30%;
  text-align: center;
  padding: 5px;
  color: rgba(170, 222, 243, 0.721);
}

.cardRedes .bottom-section .row .item .big-text {
  font-size: 12px;
  display: block;
  color: white;
  font-weight: 700;
}

.cardRedes .bottom-section .row .item .regular-text {
  font-size: 9px;
}

.cardRedes .bottom-section .row .item:nth-child(2) {
  border-left: 1px solid rgba(255, 255, 255, 0.126);
  border-right: 1px solid rgba(255, 255, 255, 0.126);
}

.animate__animated.animate__pulse:hover {
  --animate-duration: 4s;
}

/* This changes all the animations globally */
:root:hover {
  --animate-duration: 8s;
  --animate-delay: 0.9s;
}

.animate__animated.animate__fadeInDown {
  --animate-duration: 3s;
}

/* This changes all the animations globally */
:root {
  --animate-duration: 800ms;
  --animate-delay: 0.9s;
}

/*----------PAGES---------*/

/*# sourceMappingURL=styles.css.map */
