/*------SECCIONES----------*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
  display: inline-block;
}

/* .borde {
    border: blue 1px solid;
} */
#body {
  background-color: #A9B7C7;
  border: #0C101D 10px solid;
  min-height: 100vh;
}

/* ----------------HEADER--------------------HEADER-------------HEADER--------------HEADER----------------- */
#navbarNav {
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  justify-content: space-around;
}
#navbarNav ul {
  column-gap: 30px;
}
#navbarNav a {
  color: black;
  font-weight: 400;
  font-size: 20px;
}
#navbarNav .nav-item a:hover {
  text-decoration: underline;
  background-color: white;
  border-radius: 2%;
}

.navbar {
  background-color: #0081ff !important;
}
.navbar #divImg img {
  height: 80px;
  width: auto;
}

/* ----------------SECTION CONTACTO--------------------SECTION CONTACTO---------------------SECTION CONTACTO------------ */
#sectionCon {
  grid-area: sectionCon;
  display: grid;
  justify-content: space-around;
  width: auto;
  height: 95px;
  border: red 5px solid;
  background-color: black;
}
#sectionCon img {
  width: 53%;
  height: 53%;
  object-fit: contain;
  justify-self: center;
  align-items: center;
}

/* ----------------MAIN INDEX--------------------MAIN INDEX---------------------MAIN INDEX--------------MAIN INDEX----------------- */
#mainIndex {
  display: flex;
  justify-self: center;
}

/* ----------------MAIN INTEGRANTES--------------------MAIN INTEGRANTES---------------------MAIN INTEGRANTES------------ */
#integrantes {
  background-color: #E0E0E0;
  padding: 10px;
}
#integrantes .accordion-button {
  background-color: #19A6B3;
  color: #000000;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}
#integrantes .card-body {
  border-radius: 2px;
  background-color: #041F3A;
}

/* ------MAIN TIME LINE--------------MAIN TIME LINE-------------MAIN TIME LINE-------MAIN TIME LINE-------------------- */
#timeLine {
  background-color: whitesmoke;
}
#timeLine #ladoA {
  padding: 15px;
  background-color: #B5CFC3;
  border-radius: 5px;
}
#timeLine #ladoA p {
  text-align: justify;
}
#timeLine #ladoB {
  padding: 15px;
  background-color: whitesmoke;
  border-radius: 5px;
}
#timeLine #ladoB p {
  text-align: justify;
}
#timeLine #navbar-example2 {
  background-color: #076873 !important;
}
#timeLine #navbar-example2 i {
  color: white;
}
#timeLine #navbar-example2 .navbar-brand {
  color: white;
}
#timeLine #navbar-example2 .nav-link {
  color: white;
}
#timeLine .scrollspy-example {
  background-color: #B5CFC3 !important;
  display: flex;
  justify-content: space-around;
}
#timeLine .scrollspy-example p {
  text-align: justify;
}

/* ----------------MAIN-DISCOGRAFIA--------------------MAIN-DISCOGRAFIA-------------MAIN-DISCOGRAFIA----------------- */
#mainCard {
  background-color: black;
}
#mainCard .card-body {
  background-color: #041F3A;
  color: aliceblue;
  text-align: justify;
  /* border: black 1px solid; */
}
#mainCard #iconsB {
  display: flex;
  justify-content: space-around;
  background-color: #E9EDDE;
  border-radius: 3%;
}
#mainCard .bi-spotify {
  color: #1DB954;
  font-size: 40px;
}
#mainCard .bi-youtube {
  color: #ff0000;
  font-size: 40px;
}
#mainCard .bi-apple {
  color: #000000;
  font-size: 40px;
}

/* ----------------MAIN-DISCOGRAFIA22222222--------------------MAIN-DISCOGRAFIA-------------MAIN-DISCOGRAFIA----------------- */
#mainCard {
  background-color: black;
}
#mainCard .card-body {
  background-color: #041F3A;
  color: aliceblue;
  text-align: justify;
  /* border: black 1px solid; */
}
#mainCard #iconsB {
  display: flex;
  justify-content: space-around;
  background-color: #E9EDDE;
  border-radius: 3%;
}
#mainCard .bi-spotify {
  color: #1DB954;
  font-size: 40px;
}
#mainCard .bi-youtube {
  color: #ff0000;
  font-size: 40px;
}
#mainCard .bi-apple {
  color: #000000;
  font-size: 40px;
}

/* ----------------MAIN CONTACTO--------------------MAIN CONTACTO---------------------MAIN CONTACTO------------ */
#form {
  background-color: #13287F;
}

#datos {
  background-color: aliceblue;
}

/* #mainIndex { */
/* background-image: url(https://cdn.wegow.com/media/artist-media/soda-stereo/soda-stereo-1688979901-1688979901.7064676.-1x2560.jpg); */
/* background-image: url(https://www.lifeboxset.com/wp-content/uploads/2019/10/20191003_165457200984-image5d961dea1b450.jpg); */
/* background-image: url(https://fmrockandpop.com/media/k2/items/cache/97b69b9f7e1a5c5d4d0fd3d24f506fa4_L.webp?t=20210430_145622); */
/* min-height: 100vh; */
/* background-repeat: no-repeat; */
/* background-position: center center; */
/* height: 600px; */
/* background-size:cover; */
/* background-attachment:local; */
/* } */
/* ----------------FOOTER---------------------FOOTER--------------FOOTER---------------FOOOTER----------------- */
#footer.navbar {
  background-color: #232F3E !important;
  display: flex;
  justify-content: space-around;
  font-family: "Roboto", serif;
  align-items: center;
}
#footer.navbar #footerRedes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  font-size: 18px;
  column-gap: 30px;
}
#footer.navbar #footerRedes i {
  font-size: 35px;
  color: #E6E6E6;
}
#footer.navbar ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  font-size: 18px;
  column-gap: 30px;
}
#footer.navbar li a {
  color: #E6E6E6;
}
#footer.navbar article h1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 15px;
  color: white;
}

.animate__animated.animate__fadeInDown {
  --animate-duration: 3s;
}

/* This changes all the animations globally */
:root {
  --animate-duration: 800ms;
  --animate-delay: 0.9s;
}

/*----------PAGES---------*/

/*# sourceMappingURL=styles.css.map */
