/*--------------------------BODY INDEX---------------------BODY INDEX------------------BODY INDEX----- */
#bodyIndex {
    background-color:#A9B7C7;
    border: #0C101D 80px solid;
    min-height: 100vh;
    // background-image: url(../icons/logo2.jpg);
    
}
/*--------------------------BODY INTEGRANTES---------------------BODY INTEGRANTES------------------BODY INTEGRANTES----- */
#bodyIntegrantes {
    background-color: black;
    border: #0C101D 80px solid;
    min-height: 100vh;
}
/*--------------------------BODY TIME LINE---------------------BODY TIME LINE------------------BODY TIME LINE----- */
#bodyTime {
    background-color: black;
    border: #0C101D 80px solid;
    min-height: 100vh;
}
/*--------------------------BODY DISCOGRAFIA---------------------BODY DISCOGRAFIA------------------BODY DISCOGRAFIA----- */
#bodyImagenes {
    background-color: black;
    border: #0C101D 80px solid;
    min-height: 100vh;
}
/* ----------------------------BODY CONTACTO-------------------BODY CONTACTO----------------------BODY CONTACTO */
#bodyContacto {
    background-color: black;
    border: #0C101D 80px solid;
    min-height: 100vh;
}
