/* ----------------HEADERIMG--------------------HEADERIMG-------------HEADERIMG--------------HEADERIMG----------------- */
#divImg {
    column-gap: 10px;
    /* background-color: red; */
    background-color: #0081ff;
}

#divImg img {
    height: 80px;
    width: auto;
}

#navImg{
    height: 100px;
    /* color: tomato; */
    /* background-color: red; */
}

#navbarNav {
    font-family:  "Roboto", serif;
    justify-content: space-around;
    /* font-size: 10px; */
}

#navbarNav ul {
    column-gap: 30px;
}
.navbar {
    background-color:#0081ff !important;
}

#navbarNav a{
    color: black;
    font-weight: 400;
    font-size:20px;
}

.nav-item a:hover {
    /* text-decoration: underline; */
    background-color:white;
    border-radius: 3%;
}

/* ----------------SECTION CONTACTO--------------------SECTION CONTACTO---------------------SECTION CONTACTO------------ */
#sectionCon {
    grid-area: sectionCon;
    display: grid;
    justify-content:space-around;
    width:auto;
    height: 95px;
    border: red 5px solid;
    background-color:black;
}

#sectionCon img {
    width: 53%;
    height: 53%;
    object-fit:contain;
    justify-self: center;
    align-items: center;
}



