/* ----------------FOOTER---------------------FOOTER--------------FOOTER---------------FOOOTER----------------- */
#footer.navbar {
    background-color:grey !important;
    display: flex;
    justify-content: space-around;
    font-family:"Roboto", serif;
    align-items: center;

    ul {
        display: flex;
        flex-wrap: wrap;
        flex-direction:column;
        align-items:center;
        font-size: 18px;
    }
    
    li a {
        color: black;
    }

    #footerRedes {
        display: flex;
        column-gap: 10px;
    }

    article h5 {
        display: flex;
        justify-content: space-around;
        font-size: 15px;
    }

    i {
        font-size: 35px;
        color:blue;
    }
    
}

