* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
    display: inline-block;
}

/* .borde {
    border: blue 1px solid;
} */

#body {
    background-color:#A9B7C7;
    // border: #0C101D 4px solid;
    min-height: 100vh;
    // background-image: url(../icons/logo2.jpg);
}